
@{
    ViewBag.Title = "Confirmacion";
}

<div class="jumbotron">
    <img src="~/Content/Images/pic01.jpg" width="500px" style="margin-left:60px; margin-top:10px" />
</div>

<div class="jumbotron">
     
    @Html.Label("lblConfirmacion", (string)ViewBag.TextConfirmacion)
</div>

